:root {
    --bg-button: #f0f0f0;
    --boder-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--boder-button);
    border-bottom: var(--boder-button);
    outline: none;
}